.venv/
env/
__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/
.vscode/

.Rhistory
.RData
.Ruserdata

.env

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/map_censo_interactive.html

.DS_Store
Thumbs.db